/* Font Family - Rubik */
@font-face {
  font-family: sans-serif;
  src: url(../../fonts/Rubik-Regular.ttf);
}
@font-face {
  font-family: sans-serif;
  src: url(../../fonts/Rubik-Medium.ttf);
}
@font-face {
  font-family: sans-serif;
  src: url(../../fonts/Rubik-SemiBold.ttf);
}
@font-face {
  font-family: sans-serif;
  src: url(../../fonts/Rubik-Bold.ttf);
}
:root {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
}

input:focus {
  outline: none;
}

body {
  font-family: "Rubik", sans-serif;
}

.container, .container-md {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  max-width: 1248px;
}

.container-md {
  max-width: 876px;
}

header {
  background: #fff;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.nav__logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.nav__middle {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 1;
}
.nav__categories {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #70C05B;
  transition: 0.5s ease-in-out;
}
.nav__categories:hover {
  opacity: 0.8;
}
.nav__categories__btn {
  background-color: transparent;
}
.nav__categories a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.nav__search {
  display: flex;
  flex-grow: 1;
}
.nav__search input {
  padding-top: 8px;
  padding-left: 8px;
  padding-bottom: 8px;
  color: #8F8F8F;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  border-radius: 4px;
  border: 1px solid #70C05B;
  background: #fff;
  width: 100%;
}
.nav__search input ::-moz-placeholder {
  margin-right: 8px;
}
.nav__search input ::placeholder {
  margin-right: 8px;
}
.nav__search__btn {
  border-radius: 4px;
  border: 1px solid #70C05B;
  background: #fff;
  padding: 8px;
  height: 40px;
  margin-left: -57px;
  border: none;
}
.nav__right {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav__right__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__right__link:hover p {
  color: #FF6633;
}
.nav__right__link p {
  color: #414141;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  gap: 8px;
  transition: 0.5s ease-in-out;
}
.nav__user {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  cursor: pointer;
}
.nav__user p {
  color: #232323;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.nav__user button {
  padding: 8px;
  background-color: transparent;
}

@media (max-width: 1000px) {
  .nav__user p,
  .nav__user button {
    display: none;
  }
  .nav__logo__text {
    display: none;
  }
  .nav__container {
    gap: 20px;
  }
  .nav__categories a {
    display: none;
  }
}
@media (max-width: 650px) {
  .nav__user {
    display: none;
  }
}
@media (max-width: 500px) {
  .nav__right,
  .nav__categories {
    display: none;
  }
}
main {
  margin-top: 80px;
}

.menu__container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.nav__column {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 24px;
}
.nav__column .nav__link {
  color: #414141;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  transition: 0.5s ease-in-out;
}
.nav__column .nav__link:hover {
  color: #FF6633;
}

@media (max-width: 1160px) {
  .nav__column {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 880px) {
  .nav__column {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 34px;
         column-gap: 34px;
    row-gap: 20px;
  }
}
@media (max-width: 600px) {
  .nav__link {
    font-size: 14px !important;
  }
  .nav__column {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 28px !important;
         column-gap: 28px !important;
    row-gap: 16px !important;
  }
}
@media (max-width: 400px) {
  .nav__link {
    font-size: 12px !important;
  }
  .menu__container {
    padding: 20px;
  }
}
.hidden {
  position: absolute;
  display: none;
}

footer {
  background-image: url(../../images/footer/footer-background.png);
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #FBF8EC;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 133px;
       column-gap: 133px;
}
.footer__bottom {
  display: flex;
  gap: 8px;
  justify-content: right;
  margin-top: 20px;
}
.footer__bottom p {
  color: #414141;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}
.footer__left {
  display: flex;
  align-items: center;
  gap: 40px;
}
.footer__left__menu {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.footer__left__menu a {
  color: #414141;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  transition: 0.5s ease-in-out;
}
.footer__left__menu a:hover {
  color: #FF6633;
}
.footer__right {
  display: flex;
  align-items: center;
  gap: 40px;
}
.footer__social-media {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.footer__number {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer__number p {
  color: #414141;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.footer__number p:hover {
  color: #FF6633;
}

.footer__header {
  background: #fff;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
  display: none;
  padding: 8px 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer__header__container {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__header__container .footer__products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.footer__header__container .footer__products:hover > p {
  color: #FF6633;
}
.footer__header__container .footer__products p,
.footer__header__container .footer__products .footer__categories__link {
  color: #414141;
  font-size: 10px;
  font-weight: 400;
  line-height: 150%;
  transition: 0.5s ease-in-out;
}
.footer__header__container .footer__products .footer__categories__link:hover {
  color: #FF6633;
}

.footer__btn {
  background-color: transparent;
}

@media (max-width: 1250px) {
  .footer__left,
  .footer__left__menu,
  .footer__right {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 1000px) {
  .footer__left__menu {
    flex-wrap: wrap;
    row-gap: 10px;
    max-width: 331px;
  }
  .footer__social-media {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__left,
  .footer__left__menu,
  .footer__right {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .footer__top {
    gap: 89px;
  }
}
@media (max-width: 900px) {
  .footer__social-media {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 710px) {
  .footer__top {
    flex-direction: column;
    row-gap: 40px;
    align-items: start;
  }
  .footer__left__menu {
    -moz-column-gap: 40px;
         column-gap: 40px;
    max-width: 100% !important;
  }
  .footer__right,
  .footer__left {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .footer__social-media {
    display: flex;
  }
}
@media (max-width: 620px) {
  .address__title {
    font-size: 24px;
  }
}
@media (max-width: 460px) {
  .footer__left,
  .footer__left__menu,
  .footer__right {
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
  }
  .footer__bottom {
    justify-content: flex-start;
  }
}
@media (max-width: 500px) {
  .footer__header {
    display: block;
  }
  footer {
    padding-bottom: 65px !important;
  }
}
.sub__header {
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 80px;
  right: 0;
  left: 0;
  z-index: 100;
}
@media (max-width: 1000px) {
  .sub__header {
    top: 76px !important;
  }
}
@media (max-width: 650px) {
  .sub__header {
    top: 62px !important;
  }
}

.home {
  background-image: url(../../images/home/home-back.png);
}
.home__container {
  padding-right: 68px;
  padding-left: 68px;
  display: flex;
  justify-content: space-between;
  gap: 18px;
  align-items: center;
}
.home__title {
  color: #414141;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
@media (max-width: 720px) {
  .home__title {
    font-size: 35px !important;
    margin: 54px auto !important;
  }
}
@media (max-width: 500px) {
  .home__title {
    font-size: 16px !important;
    margin: 26px auto !important;
  }
}

@media (max-width: 950px) {
  .home__main__img {
    display: none;
  }
  .home__title {
    font-size: 40px;
    margin: 64px auto;
    text-align: center;
  }
}
.discounts {
  padding-top: 80px;
  padding-bottom: 120px;
  background-color: #FBF8EC;
}
.discounts__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.discounts__header__link {
  display: flex;
  gap: 8px;
  align-items: center;
}
.discounts__header__link:hover p {
  color: #FF6633;
}
.discounts__header__link p {
  color: #606060;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  transition: 0.5s ease-in-out;
}
.discounts__header__title {
  color: #414141;
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
}
.discounts__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  grid-auto-rows: 0fr;
}
.discounts__card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.discounts__card__pic {
  position: relative;
}
.discounts__card__img {
  width: 100%;
  position: relative;
}
.discounts__card__percent {
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-radius: 4px;
  background: #FF6633;
  padding: 4px 8px;
  width: 56px;
  cursor: pointer;
}
.discounts__card__percent p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.discounts__card__favourite__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  opacity: 0.5;
  background: #f3f2f1;
}
.discounts__card__favourite__btn img {
  padding-top: 4px;
}
.discounts__card__info {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.discounts__card__payment {
  display: flex;
  justify-content: space-between;
}
.discounts__card__credit, .discounts__card__cash {
  display: flex;
  flex-direction: column;
}
.discounts__card__credit h4, .discounts__card__cash h4 {
  color: #414141;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}
.discounts__card__credit h3, .discounts__card__cash h3 {
  color: #606060;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.discounts__card__credit p, .discounts__card__cash p {
  color: #bfbfbf;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}
.discounts__card__desc {
  color: #414141;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.discounts__card__button {
  color: #70C05B;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  border-radius: 4px;
  border: 1px solid #70C05B;
  padding: 8px;
  background-color: #fff;
  transition: 0.5s ease-in-out;
}
.discounts__card__button:hover {
  background-color: #FF6633;
  border: #FF6633;
  color: #fff;
}

.products {
  background-color: #FBF8EC;
  padding-bottom: 120px;
}
.products__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.products__header__title {
  color: #414141;
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
}
.products__header__link {
  display: flex;
  gap: 8px;
  align-items: center;
}
.products__header__link:hover p {
  color: #FF6633;
}
.products__header__link p {
  color: #606060;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  transition: 0.5s ease-in-out;
}

.products__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.products__card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.products__card__pic {
  position: relative;
}
.products__card__img {
  width: 100%;
  position: relative;
}
.products__card__favourite__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  opacity: 0.5;
  background: #f3f2f1;
}
.products__card__favourite__btn img {
  padding-top: 4px;
}
.products__card__info {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
.products__card__price h4 {
  color: #414141;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}
.products__card__desc {
  color: #414141;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.products__card__button {
  color: #70C05B;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  border-radius: 4px;
  border: 1px solid #70C05B;
  padding: 8px;
  background-color: #fff;
  transition: 0.5s ease-in-out;
}
.products__card__button:hover {
  background-color: #FF6633;
  border: #FF6633;
  color: #fff;
}

@media (max-width: 900px) {
  .discounts__row,
  .products__row {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 700px) {
  .discounts__row,
  .products__row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 450px) {
  .discounts__row,
  .products__row {
    gap: 16px;
  }
  .discounts__header,
  .products__header {
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }
  .discounts__header__title,
  .products__header__title {
    font-size: 26px;
  }
  .discounts__header__link p,
  .products__header__link p {
    font-size: 14px;
  }
  .products__card__desc,
  .discounts__card__desc {
    font-size: 12px;
  }
  .discounts__card__payment h4,
  .discounts__card__payment h3 {
    font-size: 14px;
  }
  .discounts__card__button,
  .products__card__button {
    font-size: 14px;
    padding: 6px;
  }
  .discounts__card__percent {
    width: 34px;
    padding: 4px;
  }
  .discounts__card__percent p {
    font-size: 12px;
  }
  .products__card__price h4 {
    font-size: 14px;
  }
}
@media (max-width: 350px) {
  .discounts__row,
  .products__row {
    grid-template-columns: repeat(1, 1fr);
  }
}
.offers {
  background-color: #FBF8EC;
  padding-bottom: 120px;
}
.offers__title {
  color: #414141;
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
}
.offers__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.offers__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FCD5BA;
  padding: 20px;
  gap: 21px;
  border-radius: 4px;
  background: #FCD5BA;
  box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.5);
}
.offers__card__info h3 {
  color: #414141;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 6px;
}
.offers__card__info p {
  color: #414141;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.offers .offers__2 {
  background-color: #E5FFDE;
  min-height: 244px;
  box-shadow: 0px 8px 16px 0px rgb(197, 236, 186);
}

@media (max-width: 1100px) {
  .offers__card {
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .offers__row {
    grid-template-columns: 1fr;
  }
  .offers__card {
    flex-direction: row;
    padding: 15px;
  }
}
@media (max-width: 620px) {
  .offers__card__info h3 {
    font-size: 18px;
  }
  .offers__card__info p {
    font-size: 12px;
  }
  .offers__title {
    font-size: 24px;
  }
  .offers__2 {
    min-height: 0px !important;
  }
  .offers__card__img img {
    width: 100%;
  }
  .offers__card {
    padding: 10px;
  }
}
.address {
  background-color: #FBF8EC;
  padding-bottom: 120px;
}
.address__title {
  color: #414141;
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 40px;
}
.address__map {
  width: 100%;
  min-height: 354px;
  -o-object-fit: cover;
     object-fit: cover;
}
.address .links__row {
  display: flex;
  gap: 24px;
}
.address .contentClass {
  display: none;
  margin-top: 24px;
}
.address .contentClass.active {
  display: block;
}
.address .linkClass {
  padding: 8px;
  color: #606060;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  border-radius: 4px;
  background: #f3f2f1;
}
.address .linkClass.active {
  padding: 8px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  border-radius: 4px;
  background: #70C05B;
}

.articles {
  background-color: #FBF8EC;
  padding-bottom: 120px;
}
.articles__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.articles__card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.articles__card__top img {
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.articles__card__info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.articles__card__info .title__2 {
  min-height: 54px;
  min-width: 96px;
}
.articles__card__date {
  color: #8F8F8F;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}
.articles__card__title {
  color: #414141;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}
.articles__card__desc {
  color: #414141;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.articles__card__button {
  padding: 8px 16px;
  background-color: #E5FFDE;
  color: #70C05B;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  transition: 0.5s ease-in-out;
}
.articles__card__button:hover {
  color: #fff;
  background-color: #70C05B;
}

@media (max-width: 900px) {
  .articles__row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  .articles__row {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 500px) {
  .links__row {
    flex-wrap: wrap;
  }
}