@use "../global";
@use "../utils/variables" as vrb;

footer {
  background-image: url(../../images/footer/footer-background.png);
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: vrb.$main-background;
}

.footer {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 133px;
  }

  &__bottom {
    display: flex;
    gap: 8px;
    justify-content: right;
    margin-top: 20px;
    p {
      color: vrb.$main-text;
      font-size: 12px;
      font-weight: 400;
      line-height: 150%;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 40px;
    &__menu {
      display: flex;
      align-items: center;
      column-gap: 40px;
      a {
        color: vrb.$main-text;
        font-size: 12px;
        font-weight: 400;
        line-height: 150%;
        transition: 0.5s ease-in-out;
        &:hover {
          color: vrb.$orange-main;
        }
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__social-media {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
  }

  &__number {
    display: flex;
    align-items: center;
    gap: 8px;
    p {
      color: vrb.$main-text;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      transition: 0.5s ease-in-out;
      cursor: pointer;
      &:hover {
        color: vrb.$orange-main;
      }
    }
  }
}


.footer__header {
  background: #fff;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
  display: none;
  padding: 8px 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  &__container {
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer__products {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      &:hover {
        & > p {
          color: vrb.$orange-main;
        }
      }
      p {
        color: vrb.$main-text;
        font-size: 10px;
        font-weight: 400;
        line-height: 150%;
        transition: 0.5s ease-in-out;
      }
    }
  }
}

@media (max-width: 1250px) {
  .footer__left,
  .footer__left__menu,
  .footer__right {
    column-gap: 30px;
  }
}

@media (max-width: 1000px) {
  .footer__left__menu {
    flex-wrap: wrap;
    row-gap: 10px;
    max-width: 331px;
  }

  .footer__social-media {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__left,
  .footer__left__menu,
  .footer__right {
    column-gap: 20px;
  }

  .footer__top {
    gap: 89px;
  }
}

@media (max-width: 900px) {
  .footer__social-media {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 710px) {
  .footer__top {
    flex-direction: column;
    row-gap: 40px;
    align-items: start;
  }

  .footer__left__menu {
    column-gap: 40px;
    max-width: 100% !important;
  }

  .footer__right,
  .footer__left {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .footer__social-media {
    display: flex;
  }
}

@media (max-width: 620px) {
  .address__title {
    font-size: 24px;
  }
}

@media (max-width: 460px) {
  .footer__left,
  .footer__left__menu,
  .footer__right {
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
  }

  .footer__bottom {
    justify-content: flex-start;
  }
}

@media (max-width: 500px) {
  .footer__header {
    display: block;
  }

  footer {
    padding-bottom: 65px !important;
  }
}
