<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="../css/footer.min.css">
  </head>
  <body>
    <footer>
      <div class="container footer__container footer">
        <div class="footer__top">
          <div class="footer__left">
            <div class="footer__left__img">
              <img src="images/footer/footer-logo.svg" alt="Logo" />
            </div>
            <ul class="footer__left__menu">
              <a href="pages/about.html">O компании</a>
              <a href="pages/contact.html">Контакты</a>
              <a href="pages/vacancies.html">Вакансии</a>
              <a href="pages/articles.html">Статьи</a>
              <a href="pages/privacy-policy.html"
                >Политика обработки персональных данных</a
              >
            </ul>
          </div>
          <div class="footer__right">
            <div class="footer__social-media">
              <a href="https://www.instagram.com">
                <img src="images/footer/instagram.svg" alt="Instagram" />
              </a>
              <a href="https://www.vk.com/">
                <img src="images/footer/vkontakte.svg" alt="VKontakte" />
              </a>
              <a href="https://www.facebook.com">
                <img src="images/footer/facebook.svg" alt="Facebook" />
              </a>
              <a href="https://www.ok.ru">
                <img
                  src="images/footer/odnoklassniki.svg"
                  alt="Odnoklassniki"
                />
              </a>
            </div>
            <div class="footer__number">
              <img src="images/footer/tel.svg" alt="Telephone Icon" />
              <p>8 800 777 33 33</p>
            </div>
          </div>
        </div>
        <div class="footer__bottom">
          <p>Дизайн</p>
          <a href="https://t.me/AAB_Daily">
            <img
              src="images/footer/footer-design-logo.svg"
              alt="Designer logo"
            />
          </a>
        </div>
      </div>
    </footer>
    <div class="footer__header">
      <div class="container footer__header__container">
        <a href="pages/categories.html" class="footer__products">
          <img src="images/footer/footer-hamburger.svg" alt="Products" />
          <p>Каталог</p>
        </a>
        <a href="pages/favourites.html" class="footer__products">
          <img src="images/footer/footer-favourite.svg" alt="Favourites" />
          <p>Каталог</p>
        </a>
        <a href="pages/products.html" class="footer__products">
          <img src="images/footer/footer-products.svg" alt="Products" />
          <p>Избранное</p>
        </a>
        <a href="pages/cart.html" class="footer__products">
          <img src="images/footer/footer-cart.svg" alt="Products" />
          <p>Корзина</p>
        </a>
        <a href="#">
          <img src="images/footer/footer-user.svg" alt="User" />
        </a>
      </div>
    </div>
  </body>
</html>
