<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <link rel="stylesheet" href="../css/header.min.css" />
  </head>
  <body>
    <header>
      <nav class="nav">
        <div class="container nav__container">
          <div class="nav__left">
            <a class="nav__logo" href="../index.html">
              <img src="../images/header/logo-icon.svg" alt="Logo Icon" />
              <img
                class="nav__logo__text"
                src="../images/header/logo.svg"
                alt="Logo"
              />
            </a>
          </div>
          <div class="nav__middle">
            <div class="nav__categories">
              <button class="nav__categories__btn">
                <img src="../images/header/menu.svg" alt="Hamburger" />
              </button>
              <a href="./categories.html"> Каталог </a>
            </div>
            <div class="nav__search">
              <input type="search" placeholder="Найти товар" />
            </div>
            <button class="nav__search__btn">
              <img
                class="nav__search__icon"
                src="../images/header/search.icon.svg"
                alt="Search"
              />
            </button>
          </div>
          <div class="nav__right">
            <a class="nav__right__link" href="./favourites.html">
              <img
                class="nav__btn__image"
                src="../images/header/favourite.svg"
                alt="Favourites"
              />
              <p>Избранное</p>
            </a>
            <a class="nav__right__link" href="./products.html">
              <img
                class="nav__btn__image"
                src="../images/header/products.svg"
                alt="Products"
              />
              <p>продукты</p>
            </a>
            <a class="nav__right__link">
              <img
                class="nav__btn__image"
                src="../images/header/cart.svg"
                alt="Cart"
              />
              <p>Корзина</p>
            </a>
            <div class="nav__user">
              <img
                class="nav__btn__image"
                src="../images/header/user-pic.svg"
                alt="User Picture"
              />
              <p>Алексей</p>
              <button>
                <img src="../images/header/dropdown.svg" alt="" />
              </button>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="sub__header hidden">
      <div class="container menu__container">
        <div class="nav__column"></div>
      </div>
    </div>

    <script src="../js/home.js"></script>
  </body>
</html>
