/* Font Family - Rubik */

@font-face {
  font-family: sans-serif;
  src: url(../../fonts/Rubik-Regular.ttf);
}

@font-face {
  font-family: sans-serif;
  src: url(../../fonts/Rubik-Medium.ttf);
}

@font-face {
  font-family: sans-serif;
  src: url(../../fonts/Rubik-SemiBold.ttf);
}

@font-face {
  font-family: sans-serif;
  src: url(../../fonts/Rubik-Bold.ttf);
}

